.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size:max(1vw,10px) ;
    color: white;
    /* background: rgb(2, 0, 36); */
    background-image: linear-gradient(red, rgb(250, 193, 7),black);
    /* background-image: linear-gradient(#C52C61, #C32C62,#7D3884); */
    border-radius: 10px;
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;

}

.sidebar-options .active{
    background-color: #fff0ed;
    border-color: tomato;
    color: black;

}
@media( max-width:900px){
    .sidebar-option p{
        display: none;
    }
}