.navbar{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 20px 4%;
    background-color: #252020;
}

.navbar .logo{
    width: max(15%,100px);
}

.navbar .profile{
    width: 40px;
}